@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Don't have an Account yet?<a class="btn-link" asp-area="" asp-controller="Account" asp-action="SignUp"> click</a> here to create one now.<br/>Or 
    <a class="btn-link" asp-controller="Account" asp-action="Login">Login</a> here.</p>
</div>
